.footer {
    background-color: $black;
    text-align: center;
    padding: 50px 0;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 10px;
        background-color: $orange;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__box {
        background-color: white;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
        max-width: 450px;

        @media (min-width:823px) {
            transform: translateY(-90px);
        }
    }

    &__title {
        font-size: $font-size-subtitle;
        color: $orange;
        margin-bottom: 20px;
        text-transform: uppercase;
        padding-top: 30px;
    }

    &__input,
    &__textarea {
        padding: 10px;
        font-size: 16px;
        font-family: 'lato', sans-serif;
        margin: 20px 0;
        width: 80%;
        color: $black;
        border: none;
        border-bottom: 2px solid black;
        transition: .2s;
    }

    &__input:nth-child(1) {
        margin-right: 10%;
    }

    &__input:nth-child(1),
    &__input:nth-child(2) {
        width: 35%;
    }

    &__input::placeholder,
    &__textarea::placeholder {
        text-transform: uppercase;
        color: $black;
    }

    &__input:focus,
    &__textarea:focus {
        outline: none;
        border-color: $orange;
    }

    &__textarea {
        resize: none;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 10px 50px;
        border: none;
        color: white;
        text-transform: uppercase;
        background-color: #343a40;
        font-size: 16px;
        margin-top: 10px;
    }

    &__btn:hover {
        background-color: $black;
    }

}